body::-webkit-scrollbar {
    display: none;
}

.command-card {
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
    transition-delay: var(--transition-delay)
}

.command-card.visible {
    transform: translateY(0);
    opacity: 1;
}

.input-wrapper {
    position: relative;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

.suggestion {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.648);
    white-space: pre;
}

#dropdown {
    transform: translateY(var(--dropdown-position));
}

.hover:hover {
    background-color: rgba(var(--bs-secondary-rgb), .3) !important;
}

#textarea::-webkit-scrollbar {
    display: none;
}